@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --background-color: #FBF9F1;
    --background-color-placeholder-text: #949494;
    --background-color-disabled: #cfcec7;
    --background-color-disabled-text: #818181;

    --foreground-color: #AAD7D9;

    --text-color: #000000;
    --text-color-error: #f01717;

    --accent-color: #6f9da8;
    --accent-color-hover: #82b7c4;
    --accent-color-active: #5b7f88;
    --accent-color-disabled: #476266;
    --accent-color-disabled-text: #FBF9F1;
    --accent-color-button-text: #FBF9F1;
}

/* WEBSITE THEMES */
[data-theme="dark"] {
    --background-color: #171a20;
    --background-color-placeholder-text: #949494;
    --background-color-disabled: #101216;
    --background-color-disabled-text: #818181;

    --foreground-color: #262b35;

    --text-color: #ffffff;
    --text-color-error: #d11313;

    --accent-color: #2b93cf;
    --accent-color-hover: #33b3fd;
    --accent-color-active: #237fb4;
    --accent-color-disabled: #1e6892;
    --accent-color-disabled-text: #7a7a7a;
    --accent-color-button-text: #ffffff;
    --accent-color-filtered: invert(53%) sepia(48%) saturate(2480%) hue-rotate(182deg) brightness(110%) contrast(98%);
    --accent-color-filtered-disabled: invert(23%) sepia(10%) saturate(5113%) hue-rotate(165deg) brightness(90%) contrast(89%);
}

[data-theme="light"] {
    --background-color: #FBF9F1;
    --background-color-placeholder-text: #949494;
    --background-color-disabled: #cfcec7;
    --background-color-disabled-text: #818181;

    --foreground-color: #AAD7D9;

    --text-color: #000000;
    --text-color-error: #f01717;

    --accent-color: #6f9da8;
    --accent-color-hover: #82b7c4;
    --accent-color-active: #5b7f88;
    --accent-color-disabled: #476266;
    --accent-color-disabled-text: #FBF9F1;
    --accent-color-button-text: #FBF9F1;
    --accent-color-filtered: invert(66%) sepia(10%) saturate(1060%) hue-rotate(144deg) brightness(88%) contrast(85%);
    --accent-color-filtered-disabled: invert(34%) sepia(18%) saturate(553%) hue-rotate(140deg) brightness(100%) contrast(89%);
}

@keyframes dropdown {
    0% {
        margin-top: -50vh;
        opacity: 0;
    }
    30% {
        margin-top: 0vh;
    }
    100% {
        margin-top: 10vh;
        opacity: 1;
    }
}

body {
    margin: 0px;
    background: var(--background-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* INPUT BOXES */
input, select, textarea {
    background-color: var(--background-color);
    outline: 1px solid transparent;
    color: var(--text-color);
    border-radius: 8px;
    border: none;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    transition: .2s ease;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 15px var(--accent-color);
    outline: 1px solid var(--accent-color);
    transition: .2s ease;
}

input:disabled, select:disabled, textarea:disabled {
    background-color: var(--background-color-disabled);
    color: var(--background-color-disabled-text);
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: var(--background-color-placeholder-text);
}

textarea {
    padding-top: 10px;
    resize: none;
    border: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

/* LABELS */
label {
    color: var(--text-color);
}

/* BUTTONS */
button {
    background-color: var(--accent-color);
    color: var(--accent-color-button-text);
    transition: .2s ease;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

button:disabled {
    background-color: var(--accent-color-disabled);
    color: var(--accent-color-disabled-text);
}

button:enabled:hover {
    background-color: var(--accent-color-hover);
    cursor: pointer;
}

button:enabled:active {
    background-color: var(--accent-color-active);
}

/* DIALOG */
dialog {
    background-color: var(--foreground-color);
    border: none;
    border-radius: 8px;
    outline: 1px solid var(--accent-color-disabled);
}

dialog[open] {
    animation: dropdown .2s ease-in forwards;
}

dialog::backdrop {
    background-color: var(--background-color-disabled);
    opacity: .65;
}