@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --background-color: #171a20;
    --background-color-placeholder-text: #949494;
    --background-color-disabled: #101216;
    --background-color-disabled-text: #818181;

    --foreground-color: #262b35;

    --text-color: #ffffff;
    --text-color-error: #d11313;

    --accent-color: #2b93cf;
    --accent-color-hover: #33b3fd;
    --accent-color-active: #237fb4;
    --accent-color-disabled: #1e6892;
    --accent-color-disabled-text: #7a7a7a;
}

body {
    margin: 0px;
    background:#171a20;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}